{extend name="_inc/_frame" /}
{block name="main"}
<div class="button-handle ">
    <a data-url="{:url('create')}" class="btn skin-btn">添加管理员</a>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <!-- /.box-header -->
            <div class="box-body">
                <table id="table" lay-filter="table" class="table table-bordered table-hover">

                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </div>
    <!-- /.col -->
</div>


{/block}

{block name="script"}
<script type="text/html" id="handle">
    {{#  layui.each(d.handle, function(index, item){ }}
    <span data-{{item.event_type}}="{{item.href}}" class="btn-sm btn-block {{item.btn_type}}">{{item.name}}</span>
    {{#  }); }}
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#table'
            , url: "{:url('index')}"
            , limit: 30
            , limits: [30, 60, 90]
            , page: {
                theme: '#3c8dbc'
            } //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', sort: true, fixed: 'left'}
                , {field: 'account', title: '用户名'}
                , {field: 'nickname', title: '昵称'}
                , {field: 'group_name', title: '所属用户组'}
                , {field: 'jointime', title: '创建时间'}
                , {field: 'handle', fixed: 'right', title: '操作', templet: '#handle', align: 'center'}
            ]]
        });

        table.on('sort(table)', function (obj) {
            table.reload('table', {
                initSort: obj
                , where: {
                    field: obj.field
                    , order: obj.type
                }
            });
        });

    })
</script>
{/block}
