{extend name="_inc/_frame" /}
{block name="main"}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table" lay-filter="table" class="table table-bordered table-hover">

                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </div>
    <!-- /.col -->
</div>


{/block}

{block name="script"}
<script>
    layui.use(['table', 'laydate'], function () {
        let table = layui.table,
            layDate = layui.laydate;

        layDate.render({
            elem: '#create_time'
            , type: 'date'
            , range: true
        });

        table.render({
            elem: '#table'
            , url: "{:url('index')}"
            , limit: 30
            , limits: [30, 60, 90]
            , page: {
                theme: '#3c8dbc'
            } //开启分页
            , cols: [[
                {field: 'file', title: '错误文件'}
                , {field: 'message', title: '错误信息'}
                , {field: 'code', title: '错误码',width:100}
                , {field:'method',title:'请求方式',width:100}
                , {field: 'url', title: 'URL'}
                , {field: 'create_time', title: '发生时间'}
            ]]
        });


        $("#search").on('click', function () {
            let where = {};
            where.create_time = $("#create_time").val();
            table.reload('table', {
                url: "{:url('index')}"
                , where: where
            });
        });

    })
</script>
{/block}
