{extend name="_inc/_frame" /}
{block name="main"}
<style>
    .small-box-footer {
        cursor: pointer
    }
</style>
<div class="row">
    <div class="col-xs-12">

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{$today_member}</h3>

                    <p>今日新增用户数</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{$all_member}</h3>

                    <p>用户总数</p>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

