{extend name="_inc/_frame" /}
{block name="main"}
<div class="button-handle ">
    <a data-url="{:url('create')}" class="btn skin-btn">添加用户组</a>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-body  layui-form pull-right">
                <div class="layui-input-inline">
                    <input type="text" name="create_time" id="create_time" readonly placeholder="创建时间"
                           class="layui-input" autocomplete="off">
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="name" id="name" placeholder="用户组名称" class="layui-input"
                           autocomplete="off">
                </div>
                <button id="search" class="btn skin-btn"><i class="fa fa-search"></i> 搜索</button>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                <table id="table" lay-filter="table" class="table table-bordered table-hover">

                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </div>
    <!-- /.col -->
</div>


{/block}

{block name="script"}
<script type="text/html" id="avatar">
    <img src="{{d.avatar}}" style="width: 30px;display: block;">
</script>
<script type="text/html" id="handle">
    {{#  layui.each(d.handle, function(index, item){ }}
    <span data-{{item.event_type}}="{{item.href}}" {{# if(item.msg){ }}data-msg="{{item.msg}}" {{# } }}
          class="btn-sm btn-block {{item.btn_type}}">{{item.name}}</span>
    {{#  }); }}
</script>
<script>
    layui.use(['table', 'laydate'], function () {
        let table = layui.table,
            laydate = layui.laydate;

        laydate.render({
            elem: '#create_time'
            , type: 'date'
            , range: true
        });

        table.render({
            elem: '#table'
            , url: "{:url('index')}"
            , limit: 30
            , limits: [30, 60, 90]
            , page: {
                theme: '#3c8dbc'
            } //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', sort: true, fixed: 'left'}
                , {field: 'name', title: '用户组名称'}
                , {field: 'create_time', title: '创建时间'}
                , {field: 'handle', fixed: 'right', title: '操作', templet: '#handle', align: 'center', width: 300}
            ]]
        });

        table.on('sort(table)', function (obj) {
            table.reload('table', {
                initSort: obj
                , where: {
                    field: obj.field
                    , order: obj.type
                }
            });
        });

        $("#search").on('click', function () {
            let where = {};
            where.create_time = $("#create_time").val();
            where.name = $("#name").val();
            table.reload('table', {
                url: "{:url('index')}"
                , where: where
            });
        });

    })
</script>
{/block}
