<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{$admin.avatar|default='/static/logo.png'}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{$admin.nickname}</p>
                <a href="javascript:void(0)"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" id="sidebar-menu" data-widget="tree">
            <li class="header">导航栏</li>
            {$menu|raw}
        </ul>

    </section>
    <!-- /.sidebar -->
</aside>
