{extend name="_inc/_frame" /}
{block name="main"}
<div class="button-handle">
    <a data-url="{:url('create')}" class="btn skin-btn">添加菜单</a>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <!-- /.box-header -->
            <div class="box-body layui-form">
                <table id="table" lay-filter="table">

                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </div>
    <!-- /.col -->
</div>
{/block}

{block name="script"}
<script type="text/html" id="handle">
    {{#  layui.each(d.handle, function(index, item){ }}
        <span data-{{item.event_type}}="{{item.href}}" class="btn-sm btn-block {{item.btn_type}}">{{item.name}}</span>
    {{#  }); }}
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#table'
            , url: "{:url('index')}"

            , cols: [[ //表头
                {field: 'id', title: 'ID', sort: true, fixed: 'left'},
                {field: 'title', title: '菜单标题',},
                {field: 'link', title: '链接',},
                {field: 'create_time', title: '创建时间',},
                {field: 'desc', title: '菜单描述',},
                {field: 'handle', fixed: 'right', title: '操作', templet: '#handle', align: 'center'}
            ]]
        });
    });
</script>
{/block}
