{extend name="_inc/_frame" /}
{block name="main"}
<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-body  layui-form pull-right">
                <div class="layui-input-inline">
                    <input type="text" name="create_time" id="create_time" readonly placeholder="注册时间"
                           class="layui-input" autocomplete="off">
                </div>
                <div class="layui-input-inline">
                    <select id="staff_id" name="staff_id" lay-search>
                        <option value="">所属员工</option>
                        {foreach $staff as $item }
                        <option value="{$item.id}">{$item.true_name}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="account" id="account" placeholder="账号" class="layui-input"
                           autocomplete="off">
                </div>
                <button id="search" class="btn skin-btn"><i class="fa fa-search"></i> 搜索</button>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                <table id="table" lay-filter="table" class="table table-bordered table-hover">

                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </div>
    <!-- /.col -->
</div>


{/block}

{block name="script"}

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="getCheckData">推送消息至选中用户</button>
    </div>
</script>
<script>
    layui.use(['table', 'laydate'], function () {
        let table = layui.table,
            layDate = layui.laydate;

        layDate.render({
            elem: '#create_time'
            , type: 'date'
            , range: true
        });

        table.render({
            elem: '#table'
            , toolbar : '#toolbar'
            , page : false
            , url: "{:url('select_user')}"
            , cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID', sort: true, fixed: 'left'}
                , {field: 'account', title: '用户账号'}
                , {field: 'nickname', title: '用户昵称'}
                , {field: 'ask_times', title: '申请次数'}
                , {field: 'staff_name', title: '所属员工'}
                , {field: 'balance', title: '余额'}
                , {field: 'state_cn', title: '状态'}
                , {field: 'create_time', title: '创建时间'}
            ]]
        });

        table.on('toolbar(table)',function (obj) {
            let event = obj.event;
            if (event === 'getCheckData'){
                let checkStatus = table.checkStatus(obj.config.id);
                let data = checkStatus.data;
                let length = data.length;
                if (length > 0){
                    let id_arr = [];
                    for (let i = 0; i < length; i++){
                        id_arr.push(data[i]['id'])
                    }
                    let id_str = id_arr.join(',');
                    parent.$f.changeField('user_ids',id_str);
                    parent.$f.closeModal();
                }else{
                    alert('至少选择一个用户')
                }
            }
        });

        table.on('sort(table)', function (obj) {
            table.reload('table', {
                initSort: obj
                , where: {
                    field: obj.field
                    , order: obj.type
                }
            });
        });

        $("#search").on('click', function () {
            let where = {};
            where.account = $("#account").val();
            where.staff_id = $("#staff_id").val();
            where.create_time = $("#create_time").val();
            table.reload('table', {
                url: "{:url('select_user')}"
                , where: where
            });
        });

    })
</script>
{/block}
