{extend name="_inc/_frame" /}
{block name="main"}
<div class="button-handle ">
    <a data-url="{:url('create')}" class="btn skin-btn">添加用户</a>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-body  layui-form pull-right">
                <div class="layui-input-inline">
                    <input type="text" name="create_time" id="create_time" readonly placeholder="注册时间"
                           class="layui-input" autocomplete="off">
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="nickname" id="nickname" placeholder="用户昵称" class="layui-input"
                           autocomplete="off">
                </div>
                <div class="layui-input-inline">
                    <input type="text" name="mobile" id="mobile" placeholder="手机号" class="layui-input"
                           autocomplete="off">
                </div>
                <button id="search" class="btn skin-btn"><i class="fa fa-search"></i> 搜索</button>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
                <table id="table" lay-filter="table" class="table table-bordered table-hover">

                </table>
            </div>
            <!-- /.box-body -->
        </div>

    </div>
    <!-- /.col -->
</div>


{/block}

{block name="script"}
<script type="text/html" id="avatar">
    <img src="{{d.avatar}}" style="width: 30px;display: block;">
</script>
<script type="text/html" id="handle">
    {{#  layui.each(d.handle, function(index, item){ }}
    <span data-{{item.event_type}}="{{item.href}}" {{# if(item.msg){ }}data-msg="{{item.msg}}" {{# } }}
          class="btn-sm btn-block {{item.btn_type}}">{{item.name}}</span>
    {{#  }); }}
</script>
<script>
    layui.use(['table', 'laydate'], function () {
        let table = layui.table,
            laydate = layui.laydate;

        laydate.render({
            elem: '#create_time'
            , type: 'date'
            , range: true
        });

        table.render({
            elem: '#table'
            , url: "{:url('index')}"
            , limit: 30
            , limits: [30, 60, 90]
            , page: {
                theme: '#3c8dbc'
            } //开启分页
            , cols: [[ //表头
                {field: 'id', title: 'ID', sort: true, fixed: 'left'}
                , {field: 'mobile', title: '手机号'}
                , {field: 'nickname', title: '昵称'}
                , {field: 'sex', title: '性别'}
                , {field: 'avatar', title: '头像', templet: '#avatar'}
                , {field: 'parent_mobile', title: '上级用户'}
                , {field: 'create_time', title: '创建时间'}
                , {field: 'handle', fixed: 'right', title: '操作', templet: '#handle', align: 'center', width: 300}
            ]]
            , done: function () {
                let img_show;
                $('td img').hover(function () {
                    let img = "<img class='img_msg' src='" + $(this).attr('src') + "' style='width:100px;' />";
                    img_show = layer.tips(img, this, {
                        tips: [2, 'rgba(41,41,41,.5)']
                        , area: ['130px']
                    });
                }, function () {
                    layer.close(img_show);
                });
                $('td img').attr('style', "max-width:30px;border-radius:15px;");
            }
        });

        table.on('sort(table)', function (obj) {
            table.reload('table', {
                initSort: obj
                , where: {
                    field: obj.field
                    , order: obj.type
                }
            });
        });

        $("#search").on('click', function () {
            let where = {};
            where.mobile = $("#mobile").val();
            where.nickname = $("#nickname").val();
            where.create_time = $("#create_time").val();
            table.reload('table', {
                url: "{:url('index')}"
                , where: where
            });
        });

    })
</script>
{/block}
