html,
body {
    height: 100%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#navigation {
    background: #fafafa;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 15%;
    z-index: 99;
    border-right: 1px solid #e8e8e8;
}

#navigation > ul {
    background: #fafafa;
    height: 95%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: auto;
}

#content {
    padding-left: 15%;
    height: 100%;
    display: table;
    width: 85%;
    position: relative;
    table-layout: fixed;
    word-break: break-all;
}

.clearfix::before {
    display: block;
    clear: both;
    content: "";
}

#content #left {
    background: #fff;
    height: 100%;
    width: 40%;
    display: table-cell;
    box-sizing: border-box;
    padding-left: 20px;
    position: relative;
    height: 100%;
}

#content #right {
    background: #fff;
    height: 100%;
    display: table-cell;
    width: 30%;
    position: relative;
    border-left: 1px solid #ddd;
}

#content #right2 {
    background: #fff;
    height: 100%;
    display: table-cell;
    width: 40%;
    position: relative;
    border-left: 1px solid #ddd;
    overflow: auto;
}

#content #right2 > div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 100px;
}

#right .abs {
    height: 100%;
    top: 0;
    right: 0;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    overflow: auto;
    padding-top: 70px;
}

#navigation li li {
    width: 90%;
    margin-left: 10%;
    font-size: 16px;
}

#navigation li a {
    min-height: 45px;
    line-height: 45px;
    color: #38424a;
    display: block;
    text-indent: 15px;
    font-size: 14px;
}

.active {
    color: #339cfb !important;
}

#search {
    width: 100%;
    height: 5%;
    border: 0;
    outline: none;
    text-indent: 15px;
    font-size: 16px;
}

#title {
    position: relative;
    z-index: 100;
    height: 5%;
    line-height: 50px;
    padding-left: 15px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.apis {
    box-sizing: border-box;
    padding: 30px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    padding-top: 70px;
}

.apis h1 {
    font-weight: lighter;
    color: #38424a;
    margin-bottom: 15px;
    margin-top: 15px;
}

.apis h2 {
    font-size: 14px;
    color: #666;
    font-weight: normal;
    margin-bottom: 20px;
}

.apis h3 {
    font-size: 16px;
    color: #333;
    font-weight: normal;
    margin-bottom: 10px;
}

.method {
    background: #333;
    color: #fff;
    min-width: 40px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
}

.POST {
    background: #38f !important;
}

.GET {
    background: #3c3 !important;
}

.PUT {
    background: #1ae4c0 !important;
}

.DELETE {
    background: red !important;
}

.apis > li {
    border-bottom: 2px solid #eee;
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 0 5px #ddd;
    margin-bottom: 50px;
}

.copy {
    float: right;
    background: #eee;
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    transition: 0.5s ease;
}

.ajax {
    float: right;
    background: #eee;
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    transition: 0.5s ease;
}

.ajax:hover {
    background: #ff7100;
}

.copy:hover {
    background: #666;
}

.down:active {
    user-select: none;
    transform: scale(0.7, 0.7);
}

.apis table {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-radius: 10px;
}

.apis tr {
    font-weight: bold;
    color: #38424a;
}

.apis td {
    background: #f8f8f8;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
}

.apis td input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 0;
    border: 1px solid #ddd;
    padding-left: 10px;
}

.apis tr td:first-child {
    text-align: right;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
}

#header {
    position: absolute;
    width: 85%;
    right: 0;
    top: 0;
    height: 60px;
    background: #fff;
    z-index: 999;
    border-bottom: 1px solid #ddd;
    line-height: 60px;
    box-sizing: border-box;
    padding: 0 30px;
}

.optable td {
    transition: 0.5s ease;
}

.optable:hover td {
    opacity: 1 !important;
}

#black {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

#help {
    position: absolute;
    z-index: 1001;
    top: 0;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 100%;
    background: #ffffff;
    display: none;
}

#helpBtn {
    font-size: 14px;
    color: #38f;
}